*{
  margin: 0;
  padding: 0;
}
.App {
  
  width: 80%;
  margin: 0 auto;
}

/*-- Navbar --*/
nav{
  font-family: 'Oswald', sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  padding: 30px 0;
  margin-bottom: 35px;
}
.nav-home{
  display: flex;
}

.nav-home a, .nav-cart a{
  text-decoration: none;
  color: black;
}

.nav-home a:hover, .nav-cart a:hover{
  color: grey;
}

ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}


.nav-cart{
  display: flex;
}

.nav-cart li{
  padding: 0 0 0px 15px;
}

.cart-price{
  font-size: 1em;
  font-weight: 300;
}

/*-- END Navbar --*/